#searchBar {
  all: unset;
  color: rgb(0, 0, 0);
  text-align: left;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#searchBar:hover {
  cursor: text;
}

.searchButton {
  all: unset;
  background-color: rgb(209, 209, 209);
  border-radius: 5px;
  padding: 5.5px;
  margin-left: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.searchButton:hover {
  background-color: rgb(119, 114, 114);
}

#searchForm {
  text-align: center;
  font-size: large;
}
