.video {
  /* display: flex;
  flex-flow: row wrap; */
  /* border: 2px solid white; */
  border-radius: 10px;
  /* display: block; */
  box-shadow: 10px 5px 10px 10px rgba(0, 0, 0, 0.23);
  margin: 15px;
  margin-top: 30px;
  padding: 20px;
  width: 400px;
  justify-content: center;
}

.video h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 10px;
}

.indVideo {
  /* border: 2px solid black; */
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.23);
  margin: 10px;
  padding: 20px;
  padding-top: 25px;
  width: 800px;
}

.commentsForm {
  margin: 50px;
}

.vidChannel {
  color: rgb(240, 113, 113);
}

.relatedVids {
  /* border: 2px solid blue; */

  margin: 20px;
  padding: 20px 175px 10px 175px;
}

.relVids {
  font-size: x-large;
  color: red;
}
