* {
  margin: 0 auto;
}

.App {
  text-align: center;
  /* border: 2px solid white; */
}

header {
  background-color: rgb(240, 113, 113);
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  /* border: 2px solid blue; */
}

.wrapper {
  display: grid;
  /* border: 2px solid red; */
}

/* h1 {
  text-align: left;
  border: 2px solid black;
} */

.you {
  color: black;
}

.tube {
  background-color: red;
  color: white;
  border-radius: 15px;
  padding: 4px 7px 4px 7px;
  box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.26);
}

a {
  color: rgb(253, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(240, 113, 113);
}

.linkColor {
  color: white;
}
.linkColor:hover {
  color: rgb(0, 0, 0);
}

.theme {
  all: unset;
  background-color: rgb(215, 212, 212);
  border-radius: 25px;
  padding: 5px 40px 5px 40px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: xx-large;
}

.theme:hover {
  background-color: rgb(119, 114, 114);
}

li {
  list-style: none;
  border: 3px dotted rgb(244, 130, 130);
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0px 10px 0px;
  text-align: left;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.commenterName {
  font-weight: bold;
  font-size: larger;
  color: red;
}

#showMoreButton {
  all: unset;
  background-color: rgb(209, 209, 209);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

#showMoreButton:hover {
  background-color: rgb(119, 114, 114);
}
