* {
  margin: 0 auto;
}

.App {
  text-align: center;
  /* border: 2px solid white; */
}

header {
  background-color: rgb(240, 113, 113);
  color: rgb(255, 255, 255);
  padding: 20px;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  text-align: center;
}

.homeVids section {
  /* border: 5px solid green; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.you {
  color: rgb(0, 0, 0);
}

.tube {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 4px 7px 4px 7px;
  box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.26);
  margin-right: 10px;
}

a {
  color: rgb(244, 130, 130);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 0, 0);
}

.linkColor {
  color: rgb(255, 255, 255);
  padding: 7px;
}

.linkColor:hover {
  color: rgb(0, 0, 0);
}

.theme {
  all: unset;
  background-color: rgb(215, 212, 212);
  border-radius: 25px;
  padding: 5px 20px 5px 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: x-large;
  margin-bottom: -30px;
  margin-left: 20px;
}

.theme:hover {
  background-color: rgb(119, 114, 114);
  cursor: pointer;
}

li {
  list-style: none;
  border: 3px dotted rgb(244, 130, 130);
  border-radius: 10px;
  padding: 15px;
  margin: 20px 10px 10px -25px;
  text-align: left;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.commenterName {
  font-weight: bold;
  font-size: larger;
  color: rgb(255, 0, 0);
}

#showMoreButton {
  all: unset;
  background-color: rgb(209, 209, 209);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#showMoreButton:hover {
  background-color: rgb(119, 114, 114);
  cursor: pointer;
}

.commentsForm {
  font-size: larger;
  text-align: center;
}

.commForm {
  text-align: left;
  padding-left: 10px;
}

.commInput {
  margin: 5px;
  padding: 15px;
  width: 700px;
  border-radius: 10px;
}

#formButton {
  all: unset;
  background-color: rgb(209, 209, 209);
  border-radius: 20px;
  padding: 10px;
  margin-left: 325px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#formButton:hover {
  background-color: rgb(119, 114, 114);
  cursor: pointer;
}

h4 {
  color: rgb(255, 0, 0);
}

.homeAndAboutLinks {
  font-size: x-large;
}

.devsAbout,
.projDesc {
  text-align: center;
  /* font-size: larger; */
}

.devs,
.aboutHeader {
  border: 5px dotted rgb(255, 0, 0);
  border-radius: 10px;
  margin: 20px 300px 10px 300px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.photo {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

footer {
  background-color: rgb(244, 130, 130);
}

.devHr {
  width: 500px;
  height: 2px;
  /* color: rgb(244, 130, 130); */
}

.errImg {
  width: 100px;
  height: 100px;
}
